<md-button hide-gt-sm ng-click="vm.toggleNotificationsTab(0)" class="md-fab md-mini md-warn md-fab-bottom-right" >
     <md-tooltip>  Download  </md-tooltip> 
    <md-icon md-font-icon="zmdi zmdi-download"  style="color:#ffffff"></md-icon>
</md-button>


<!--<md-button layout="row"   layout-align="end center" class="md-fab md-mini md-warn" style="margin: 0px;padding: 0px" aria-label="fab button">     
    <md-tooltip>  Download  </md-tooltip> 
            <md-icon ng-click="downloadshow($event)" md-font-icon="zmdi zmdi-download zmdi-hc-lg" style=" color: #ffffff;font-size: 1.5em" ></md-icon>
</md-button>-->