
<div  flex="noshrink" layout="column" layout-align="end none" >
    <md-toolbar  ng-controller="AppFooterController as footer" md-theme="{{triSkin.elements.toolbar}}">
        <div  class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
<!--             <a href="http://www.leadics.com" target="_blank"> 
                 <img style=" max-height: 6vmin;"  src="assets/images/wheelmonklogo.png" alt=""/>
             </a>
            <img style="max-height: 4vmin;" src="assets/images/leadics.png" alt=""/>-->
             <a href="http://wheelmonk.com/" target="_blank" ><img style="background-color: #ffffff; height:5vh;" src="assets/images/wheelmonklogo.png" alt=""/></a>
            <a href="http://leadics.com/" target="_blank" > <img style="background-color: #ffffff; height:5vh;" src="assets/images/leadics1.png" alt=""/> </a>
                   
        </div>
    </md-toolbar>
</div>
